/* $('.qa-q-view-content').css('position': 'fixed', 'z-index': '9999', 'top': '2px', 'width': '40%', 'height': '50%', 'right': '2px', 'border': '2px solid black', 'border-radius': '5px', '')', ' */
/* now ported everything to JS */
/* .qa-q-view-content{
    position: fixed;
    z-index: 99999;
    top: 2px;
    right: 2px;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
}; */

